.body-content {
    margin: auto;
    margin-top: 50px;
    width: 90%;
}
.column-header {
    text-transform: uppercase;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.column-body {
    height: 500px;
    padding: 20px;
}

.column-header h3 {
    color: rgb(128, 128, 128);
}

.grey-box {
    background-color: rgb(233, 233, 233);
    width: 100%;
    border-radius: 5px;
}