.task-popup {
    width: 600px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.task-id {
    color: rgb(84 80 80 / 62%);
}

.task-id span {
    color: rgb(38 37 37 / 90%);
    font-weight: 600;
}

.select-item, #stage-select {
    text-transform: capitalize;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

#resume-cancel, #description-cancel {
    width: 90px;
    align-self: flex-end;
}

div:has(.task-id) {
    display: flex;
    justify-content: space-between;
}
