@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    border: none;
    font-family: 'Poppins', sans-serif;
}

html, body, .App, #root {
    height: 100%;
}

a,
a:active,
a:visited,
a img {
	outline: none;
}

.grey-box {
    background-color: rgb(233, 233, 233);
    width: 100%;
    border-radius: 5px;
}